@import 'mixin';

.another {
  position: relative;
}

.animate {
  position: absolute;
  top: 50%;
  left: 60%;

  &.dancing {
    opacity: 1;
    & .char {
      display: inline-block;
      @include animation($name: kf-animate, 
      $duration: 0.4s,
      $timing-function: ease,
      $fill-mode: both
      );

      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 0.15s;
        }
      }
    }
  }
}

.char {
  margin: 1px;
}

@keyframes kf-animate {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}