/* ヘッダー */
.header {
  background: linear-gradient(45deg, #2af598 0%, #009efd 100%);
  width: 30vw;
  height: auto;
  min-height: 100%;
  color: white;
  overflow: scroll;
}

.countries {
  list-style-type: none;
}

.country {
  margin-bottom: 15px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
}

.country:hover {
  background-color: royalblue;
  width: 70%;
}
.title {
  margin: 20px;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  text-decoration: none;
  color: white;
}

.link--active {
  font-size: 20px;
}