/* ヘッダー */
.header {
  background: linear-gradient(45deg, #2af598 0%, #009efd 100%);
  width: 30vw;
  height: 100vh;
  color: white;
}

.countries {
  list-style-type: none;
}

.country {
  margin-bottom: 15px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.country:hover {
  background-color: royalblue;
  width: 70%;
}
.title {
  margin: 20px;
}