@import 'appear';
@import 'mixin';

.sec {
  background-color: linen;
  height: 100vh;
  width: 70vw;
  text-align: center;

  &:nth-child(2) {
    background-color: mistyrose;
  }

  &:nth-child(3) {
    background-color: bisque;
  }

  &__title {
    padding-top: 40px;
  }
}

.content {
  &__title {
    padding-top: 30px;
  }

  &__img {
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;

    & > img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
      border-radius: 30%;
      box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    }
  }

  &__name {
    margin-top: 20px;
  }

  &__lists {
    padding-top: 40px;
    padding-right: 10px;
    padding-left: 50px;
    text-align: left;
    font-size: 1.1em;
  }

  &__list {
    margin-top: 10px;
    padding-left: 20px;
  }

  &__profile {
    margin-top: 20px;
  }
}

.none {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
}

.account {
  color: black;

  &:hover {
    text-decoration: none;
  }
}

.fa {
  margin-left: 10px;
}




