.sec1 {
  background-color: salmon;
  width: 70vw;
  text-align: center;

  &__title {
    padding-top: 40px;
  }
}

.content {

  &__img {
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;

    & > img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 30%;
    }
  }

  &__name {
    margin-top: 20px;
  }

  &__about {
  }
}





