@import 'appear';

.sec1 {
  background-color: salmon;
  height: 100vh;
  width: 70vw;
  text-align: center;

  &__title {
    padding-top: 40px;
  }
}

.content {

  &__img {
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    margin-top: 20px;

    & > img {
      object-fit: cover;
      max-width: 100%;
      max-height: 100%;
      border-radius: 30%;
      box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    }
  }

  &__name {
    margin-top: 20px;
  }

  &__about {
  }
}





